#darkMode{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: rgb(229, 229, 236);
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover{
    background-color: #495579;;
}

body.dark h1{
    color: white;
}

/* body.dark a{
    color: #a0a6d4;
}

body.dark a:hover{
    color: #7379a5;
}
*/

/* Dark Mode Button */

.moon-icon{
    color: #251749;
}

.moon-icon:active, .moon-icon:hover{
    color: rgb(235, 199, 80);
}

.dm-active{
    background-color: blueviolet;
}

/* Home */

body.dark .petBlog{
    background-color: #1b2341;
}

body.dark .header-bg{
    background-color: #251749;
}

body.dark h5 {
    color: #d8daee;
}


body.dark .joinBtn {
    background-color: #a0a6d4;
    color: #160b2e;
    font-weight: 600;
}

body.dark .joinBtn:hover {
    background-color: #484d79;
    color: #160b2e;
    font-weight: 600;
}

/* Profile */

body.dark .card-body{
    background-color: #06040c;
}

body.dark .petCard{
    border-color: #474747;
}

body.dark .card-footer{
    background-color: #495579;
}

/* Pet */

body.dark .PetDetails{
    border-color: #474747;
}

body.dark .pet-card-button{
    background-color: #353f5e;
}