

.img-design {
    border-color:#150d29;
    border-start-start-radius: 50px;
    border-color: #150d29;
    border-bottom: 0ch;
  

}
/* .petList {
    border-style: hidden;
    border-radius: 2000px;
} */