/* 
.img-design {
    border-color:#150d29;
    border-start-start-radius: 50px;
    border-color: #150d29;
    border-bottom: 0ch; 

}
 .petList {
    border-style: hidden;
    border-radius: 2000px;
} 

.petList {
    padding: 80px 0;
}
.card{
    box-shadow:0 0 30px rgba(0,0,0,0);
    overflow: hidden;
    border-radius: 15px;
*/

.card{
    border-radius: 25px;
}

.card-footer:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-img, .card-img-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-footer{
    border-bottom-left-radius: 25%;

}
#pet-card-profile{
    border: #150d29;
    border-width: 20px;
    border-radius: 25%;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color:#251749;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.card-title-2{
    font-size: 40px;
    color:#251749
    
}

.card-title-3{
    font-size: 20px;
    color:#2e2e2e;
    line-height: normal;
    
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
.card-body{
    padding: 1.3rem !important;
    background-color:#c9cef687;
    
}
.card-text{
    font-size: 1rem;
    color: #495579;
    /* padding:0,4rem 1.9rem ; */
    /* padding-top: 1rem; */
}
.card-prop{
    color:#150d29;
}
.card-caracteristics{
    padding-top: 2rem;
    color:#251749;

    
}

.pets-details-container{
    padding-right: 0px !important;
}

.overflow{
    overflow:hidden;
    
}
/* .card-img-top{

    transform: scale3d(1.2);
    transition: transform 0.3s ease-in-out;

} */
/* .card-img-top:hover{
    transform: scale(1.2);
} */
#card-scale{
    width:13rem;
    transform: scale3d(1.2);
    transition: transform 0.3s ease-in-out;

} 
#card-scale:hover{
    transform: scale(1.2);
}
.card-button{
    background-color: rgb(73, 85, 121);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.button{
    color:#495579;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
   
}
.button:hover{
    transform: scale(1.1);
    color: #495579;

}

